@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --spacing: 2vw;
}

@layer base {
  * {
    box-sizing: border-box;
  }
  
  html,
  body,
  #__next {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}


.floating-button {
  position: fixed;
  bottom: 2vh;
  right: var(--spacing);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #8f7cfe;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}

.invisible-space {
  display: none;

  position: absolute;
  bottom: calc(100% - 20px);
  right: 0;
  width: 25vw;
  padding: 12px;
  height: 50vh;
  cursor: default;
  
}

.popover {
  display: none;
  position: absolute;
  bottom: calc(100% + 10px);
  right: 0;
  /* translucent */
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: calc(100vh / 40);
  width: 25vw;
  padding: 12px;
  cursor: default;
}
/* if not laptop */
@media (max-width: 992px) {
  .popover {
    width: calc(100vw - 2 * var(--spacing));
    padding: 10px;
  }
  .invisible-space {
    width: calc(100vw - 2 * var(--spacing));
    padding: 10px;
  }
}

.floating-button:hover {
  .popover {
    display: block;
  }
  .invisible-space {
    display: block;
  }
  invisible-space:hover .popover {
    display: block;
  }
}

.adjust-z {
  z-index: 166910055;
}
/* translucent with linear gradient */
.translucent {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

}

.footer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.footer > a {
  color: #8f7cfe;
  flex: 1;
}

.footer > a > svg {
  margin-left: auto;
  margin-right: auto;
}

